@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1.2rem;
}
nav {
  width: 100%;
  background-color: #ccc;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav li {
  margin: 0 0.5rem 0.5rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  word-wrap: none;
}
nav li:hover {
  border-bottom: 3px solid brown;
}
nav li.rant,
nav li.book,
nav li.login {
  margin-left: auto;
}
section.main {
  flex: 1;
  overflow: auto;
}
footer {
  width: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 0.8rem;
  /* height: 8%;
  display: flex;
  justify-content: center;
  align-items: center; */
}
